@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Details";
}
<h1 class="my-5 m-auto">Department Details</h1>
<ul class="nav nav-tabs" id="departmentTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="administration-tab" data-bs-toggle="tab" href="#administration" role="tab" aria-controls="administration" aria-selected="false">Administration</a>
    </li>
</ul>

<partial name="PartialViews/DeleteDetailsDepartmentPartial" />

