@model DepartmentViewModel


@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Edit Department</h1>
    <partial name="PartialViews/CreateEditDepartmentPartial" />
</div>
@section ValidationScribts {
    <partial name="_ValidationScriptsPartial" />

}

